<div [formGroup]="form">
  <mat-form-field>
    <input #title
           matInput
           placeholder="Course title"
           formControlName="title"
    >
    <mat-hint align="end">{{ title.value.length }} / 60</mat-hint>
    <mat-error *ngIf="courseTitle.errors?.titleExists">This title is already being used.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
           formControlName="releaseAt"
           placeholder="Release date"
           [matDatepicker]="releaseDataPicker"
    >
    <mat-datepicker-toggle [for]="releaseDataPicker" matSuffix>
    </mat-datepicker-toggle>
    <mat-datepicker #releaseDataPicker></mat-datepicker>
  </mat-form-field>

  <mat-checkbox color="primary" formControlName="downloadsAllowed">
    Downloads allowed?
  </mat-checkbox>

  <mat-form-field appearance="outline">
    <textarea matInput
              formControlName="longDescription"
              placeholder="Description"
    >
    </textarea>
  </mat-form-field>
</div>

<div class="form-val">
  {{ form.value | json }}
</div>
