
.file-input {
  display: none;
}

.file-upload {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.upload-btn {
  margin-left: 10px;
  margin-bottom:15px;
}

.progress-bar {
  margin-bottom: 10px;
}

.error {
  color: red;
  font-weight: bold;
}

.field-message {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0;
}

mat-form-field {
  width: 100%;
}
